.body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #1f2937;
    color: #f9faf8;
    max-width: auto;
    max-height: auto;
}
  
ul {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

  /* First Content */

  .hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 50px;
}   

  .container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    text-align: left;
    color: #f9faf8;
    font-size: 18px;
    gap: 8px;
}

  .Text1 {
    font-size: 48px;
    font-weight: Bolder;
  }

  .signup {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border-width: 2px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

  .img1 {
	height: auto;
	max-width: 100%;
}

/* Second Content */

.content {
  text-align: center;
  padding: 50px;
}

.title1 {
  margin: 32px;
  font-size: 32px;
  color: #1f2937;
  font-weight: bolder;
}

.Images {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: ;
}


.img2 {
  border-radius: 10px;
  border: 10px solid #73AD21;
  height: 140px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Content 3 */

.bgquote {
  background-color: #e5e7eb;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  text-align: center;
  margin: 30px;
}

.quoteby {
  margin-top: 20px;
  text-align: right;
  height: auto;
	max-width: 100%;
  font-weight: bolder;
  font-size: larger;
}

/* Content 4 */

.calltoaction {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  color: #e5e7eb;
  padding: 60px;
  margin: 150px 140px;
  border-radius: 10px;
  font-size: 30px;
  align-items: center;
}

.cta {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 5px;
}

.time {
  font-weight: bolder;
  font-size: 50px;
}

.signup1 {
  border-radius: 25px;
  background: #3882F6;
  border: 4px solid #e5e7eb;
  padding: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
}

/*Content4*/
.footer {
  text-align: center;
  background-color: #1F2937;
  padding: 30px;
  font-size: 20px;
  color: #e5e7eb;

}