.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #1f2937;
    color: #f9faf8;
  }
  
  ul {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  a {
    color: #f9faf8;
    text-decoration: none;
  }

  .content1 {
    display: flex;
    flex-direction: column;
  }

  .text1 {
    display: flex;
    flex-direction: row;
  }